%footer{:class => 'row'}
  .large-12.columns
    .row
      .large-6.columns
        %p Copyright
      .large-6.small-21.columns
        %ul{:class => 'inline-list right'}
          %li
            %a{:href=>'#'}
              Link