%footer.footer{:role => 'contentinfo'}
  .footer-logo
    = inline_svg 'svg/logo.svg', class: 'ef-logo'
  %ul
    %li
      %a{:href => about_path} About
    %li
      %a{:href => albums_path} Albums
    %li
      %a{:href => shows_path} Shows
    %li
      %a{:href => posts_path} Posts