- today = Date.today
%footer.footer{:role => 'contentinfo'}
  .footer-logo
    = inline_svg_tag 'svg/logo.svg', class: 'ef-logo'
  .footer-links
    %ul
      %li
        %h3 On this site
      %li
        %a{:href => about_path} About
      %li
        %a{:href => albums_path} Albums
      %li
        %a{:href => shows_path} Shows
      %li
        %a{:href => posts_path} Posts
      %li
        %a{:href => videos_path} Videos
    %ul
      %li
        %h3 Follow
      %li
        %a{:href => 'https://earthlyframes.bandcamp.com/'}
          %i{:class => 'fab fa-bandcamp'}
          Bandcamp
      %li
        %a{:href => 'https://soundcloud.com/earthly-frames'}
          %i{:class => 'fab fa-soundcloud'}
          SoundCloud
      %li
        %a{:href => 'https://www.twitch.tv/earthlyframes'}
          %i{:class => 'fab fa-twitch'}
          Twitch
      %li
        %a{:href => 'https://twitter.com/earthly_the'}
          %i{:class => 'fab fa-soundcloud'}
          SoundCloud
      %li
        %a{:href => 'https://www.instagram.com/earthlyframes/'}
          %i{:class => 'fab fa-instagram'}
          Instagram
      %li
        %a{:href => 'https://www.youtube.com/channel/UCsFwAFMufPXaqAgcMkRhHfw'}
          %i{:class => 'fab fa-youtube'}
          YouTube
      %li
        %a{:href => 'https://www.discogs.com/artist/633661-Gabriel-Walsh-2'} Discogs
    %ul
      %li
        %h3 Etc
      %li
        %a{:href => eula_path} Terms and Conditions
      %li
        %a{:href => yourteamring_path} Your Team Ring Archive
  %hr
  .copyright
    Copyright
    %i{:class=> "fas fa-copyright"}
    = today.strftime('%Y').to_s+'. '