%footer
  .footer-wrapper
    .footer-logo
      =image_tag "ef-logo-2_mono - white.png", alt:"EF: The Earthly Frames"
    %ul.footer-items
      %li.footer-item
        %a{:href=> eula_path, :tab=>{:index=>0}}
          %i.fa-solid.fa-user-secret
          %span
            Privacy, etc.
      %li.footer-item
        %a{:href=> "https://www.discogs.com/artist/633661-Gabriel-Walsh-2",:tab=>{:index=>0}}
          %i.fa-solid.fa-record-vinyl
          %span
            Discogs
      %li.footer-item
        %a{:href=> "https://www.instagram.com/earthlyframes/", :tab=>{:index=>0}}
          %i.fa-brands.fa-instagram
          %span
            Instagram