- today = Date.today
%footer.footer{:role => 'contentinfo'}
  .footer-logo
    = inline_svg 'svg/logo.svg', class: 'ef-logo'
  .footer-links
    %ul
      %li
        %h3 On this site
      %li
        %a{:href => about_path} About
      %li
        %a{:href => albums_path} Albums
      %li
        %a{:href => shows_path} Shows
      %li
        %a{:href => posts_path} Posts
    %ul
      %li
        %h3 Follow
      %li
        %a{:href => 'https://earthlyframes.bandcamp.com/'} Bandcamp
      %li
        %a{:href => 'https://www.facebook.com/earthlyframes/'} Facebook
      %li
        %a{:href => 'https://twitter.com/earthlyframes'} Twitter
      %li
        %a{:href => 'https://www.instagram.com/codeowl/'} Instagram
    %ul
      %li
        %h3 Etc
      %li
        %a{:href => eula_path} Terms and Conditions
      %li
        %a{:href => yourteamring_path} Your Team Ring Archive
  %hr
  .copyright
    Copyright
    %i
    = today.strftime('%Y').to_s+'. '
    The Imaginary Foundation