.contain-to-grid.sticky
  %nav{:class=>'top-bar', :data=>{:topbar=>true}, :role=>'navigation'}
    %ul{:class=>'title-area'}
      %li{:class=>'name'}
        %h1
          %a{:href=> home_url}
            The Earthly Frames