-@link = link
-@img = img
-@sub_title = sub_title
-@title = title
-@description = description
-@category = category
-@category_link = category_link
-@category_icon_name = category_icon_name

.card-article-hover.card
  %a{:href => @link, :tab=>{:index=>0}}
    %img{:src => @img, :alt=> @title }
  .card-section
    %p.meta-data.article-subtext
      = @sub_title
    %h3.article-title
      %a{:href => @link, :tab=>{:index=>0} }
        = @title
    %p.article-desc
      = @description.html_safe
  .card-divider.flex-container.align-middle
    %i{:class=>"fas fa-" +@category_icon_name}
    %a.category{:href => @category_link, :tab=>{:index=>0}}
      = @category
  .hover-border
