%header{:class=>"sticky-shrinknav-header"}
  %h1{:class=>"sticky-shrinknav-header-title"} The Earthly Frames
  %ul{:class=>"menu align-center sticky-shrinknav-menu"}
    %li
      %a{:href=> root_url, :tab=>{ :index=>"0"} } Home
    %li
      %a{:href=> about_url, :tab=>{ :index=>"0"} } About
    %li
      %a{:href=> albums_url, :tab=>{ :index=>"0"} } Albums
    %li
      %a{:href=> posts_url, :tab=>{ :index=>"0"} } Posts
    %li
      %a{:href=> videos_url, :tab=>{ :index=>"0"} } Videos