%header.navigation-centered{:role => 'banner'}
  .navigation-centered-wrapper
    %a.mobile-logo{:href => root_url}
      = inline_svg 'svg/logo.svg', class: 'ef'
    %a#js-navigation-centered-mobile-menu.navigation-centered-mobile-menu{:href => root_url}
      =icon('reorder')
    %nav{:role => 'navigation'}
      %ul#js-navigation-centered-menu.navigation-centered-menu.show
        %li.nav-link
          %a{:href =>  about_url} About
        %li.nav-link
          %a{:href => albums_url} Albums
        %li.nav-link.logo
          %a.logo{:href => root_url}
            = inline_svg 'svg/logo.svg', class: 'ef'
        %li.nav-link
          %a{:href => shows_url} Shows
        %li.nav-link
          %a{:href => posts_url} Posts