.rainbow-album{:class=> rainbow_css(album), :id=> album.rainbow_table.to_s+'_link'}
  .rainbow-album-container
    %img.cover{:src=> album.cover.to_s, :alt=> album.title}
    %h3.year
      = just_the_year(album)
    %h4.title
      = album.title
    - if ordered_links(album).length > 0
      .rainbow-table-streaming-links
        - ordered_links(album).each do |link|
          = turbo_frame_tag "album_streaming_link", src:album_song_streaming_link_path(album, link.song, link)
    %p.description
      = album.description.html_safe
    -if album.songs.length
      =turbo_frame_tag "songs", src: album_songs_path(album)
