-@album = album
.rainbow-card{:class => @album.rainbow_table}
  .album-header{:itemscope => true, :itemtype => 'http://schema.org/MusicGroup'}
    %span{:class=>'screen-reader-only', :itemprop=>'byArtist'} The Earthly Frames
    %a{:href=> album_url(@album.id)}
      %h2{:itemprop=> 'name'}
        =@album.title
    -if @album.released
      %h4{:itemprop => 'datePublished'}
        =@album.released.strftime('%Y')
  .album
    .cover-and-links
      %a{:href=> album_url(@album.id)}
        %img{:src => @album.cover,:alt => @album.title, :itemprop =>'image'}
    .album-description{:itemprop => 'description'}
      !=@album.description

