-@album = album
.rainbow-card{:class => @album.rainbow_table, :itemscope => true, :itemtype => 'http://schema.org/MusicGroup'}
  %span{:class=>'screen-reader-only', :itemprop=>'byArtist'} The Earthly Frames
  .inner
    .cover
      %a{:href=> album_url(@album.id)}
        %img{:src => @album.cover,:alt => @album.title, :itemprop =>'image'}
    .title
      %a{:href=> album_url(@album.id)}
        %h2{:itemprop=> 'name'}
          =@album.title
      - if @album.released
        %h3{:itemprop => 'datePublished'}
          =@album.released.strftime('%Y')
    .portrait
      -if @album.rainbow_portrait
        %img.rainbow-portrait{:src => @album.rainbow_portrait,:alt => 'Gabe the ' + @album.rainbow_table, :itemprop =>'image'}