- @song = song
- id = song_id

.reveal.large{:id=>"songMenu_" + id, :data=>{:reveal=>true}}
  %i{:class=>"fas fa-times modal-close", :data=> {:close => true}}
  %h4
    = @song.title + ","
    = @song.trt
  %hr
  - if @song.streaming_links
    %span
      Listen :
    - @song.streaming_links.each do |streaming_link|
      %a{:href => streaming_link.link, :class=> "streaming-link icon-only" }
        %i{:class=> ("fab fa-" + streaming_link.streaming_service.icon_url)}
  - if @song.video
    %a{:href=> video_path(@song.video.id), :class => 'video-link'}
      ="Watch the video for " + @song.title
  - if @song.notes.length > 0
    %h5
      Notes
      %p
        = @song.notes.html_safe
  - if @song.lyrics.length > 0
    %h5
      Lyrics
    %p
      = @song.lyrics.html_safe