language: ruby
rvm:
 - 2.1.2
sudo: false

before_install:
  - bundle config git.allow_insecure true
  - gem install bundler
  - gem install activeadmin -v '1.0.0.pre2'

install:
  - bundle install

script:
  - RAILS_ENV=test bundle exec rake db:create db:migrate
  - bundle exec rake db:test:prepare
  - bundle exec rake spec:travis
