// Layouts
//
// Styleguide: ef.core.layouts-common
$small-screen: 500px;
$largeish-screen: 800px;
$smallish-screen-up: new-breakpoint(min-width $small-screen 4);
$smallish-screen-down: new-breakpoint(max-width $small-screen 4);
$largeish-screen-up: new-breakpoint(min-width $largeish-screen 8);
$largeish-screen-down: new-breakpoint(max-width $largeish-screen 8);
$large-screen-down: new-breakpoint(max-width $large-screen 8);

.basic{
  @include outer-container;
  font-size: modular-scale(1);
  font-weight: 100;
  margin-top: 2rem;
  color: $color-storm;
  article{
    @include media($largeish-screen-down) {
      margin-left: 1rem !important;
      padding-right: 1rem;
      width: 100% !important;
    }
  }
}

html,body{
  overflow-x: hidden;
}
p{
  display:block !important;
}