// Layouts
//
// Styleguide: ef.core.layouts-common

.basic{
  @include outer-container;
  font-size: modular-scale(1);
  font-weight: 100;
  margin-top: 2rem;
  color: $color-storm;
  article{
    @include span-columns(6);
    @include shift(3);
    p{
      display: block !important;
    }
  }
}

body{
  overflow-x: hidden;
}