// Pallette

// Storm
//
// Hex: #3E494B
// RGB: 62,73,75
$color-storm: rgb(62,73,75);
// Grey
//
// Hex: #6F716A
// RGB: 111,113,106
$color-grey: rgb(111,113,106);
// Taupe
//
// Hex: #958977
// RGB: 149,137,119
$color-taupe: rgb(149,137,119);
// Bare
//
// Hex: #ECC896
// RGB: 236,200,150
$color-bare: rgb(236,200,150);
// Peach
//
// Hex: #E17F62
// RGB: 225,127,98
$color-peach: rgb(225,127,98);
// White
//
// Hex: #FFFFFF
// RGB: 225,225,225
$color-white: rgb(225,225,225);