// Pallette
//
// Styleguide: ef.core.pallette

// Storm
//
// Hex: #3E494B
// RGB: 62,73,75
//
// Styleguide: ef.core.pallette.storm
$color-storm: rgb(62,73,75);
// Grey
//
// Hex: #6F716A
// RGB: 111,113,106
//
// Styleguide: ef.core.pallette.grey
$color-grey: rgb(111,113,106);
// Taupe
//
// Hex: #958977
// RGB: 149,137,119
//
// Styleguide: ef.core.pallette.taupe
$color-taupe: rgb(149,137,119);
// Bare
//
// Hex: #ECC896
// RGB: 236,200,150
//
// Styleguide: ef.core.pallette.bare
$color-bare: rgb(236,200,150);
// Peach
//
// Hex: #E17F62
// RGB: 225,127,98
//
// Styleguide: ef.core.pallette.peach
$color-peach: rgb(225,127,98);
// White
//
// Hex: #FFFFFF
// RGB: 225,225,225
//
// Styleguide: ef.core.pallette.white
$color-white: rgb(225,225,225);