// Typography
//
//
// Styleguide: ef.core.typography

.page-header{
  color: $color-taupe;
  margin: 2rem auto 1.75rem auto;
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
}

.basic{
  @include outer-container;
  font-size: modular-scale(1);
  font-weight: 100;
  margin-top: 2rem;
  color: $color-storm;
  article{
    @include span-columns(6);
    @include shift(3);
    p{
      display: block !important;
    }
  }
}