// Typography
//
//
// Styleguide: ef.elements.button

@mixin ef-button-size($size: 'med'){
  @if $size == 'sm'{
    font-size: 0.875rem;
    padding: 0.366rem 0.875rem 0.366rem 0.875rem;
  }@else if $size == 'med'{
    font-size: 1rem;
    padding: 0.75rem 1rem 0.75rem 1rem;
  }@else if $size == 'lg'{
    font-size: 1.5rem;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
  }

}


@mixin ef-button($col:$color-storm, $bg:transparent, $border: transparent, $hovcol: $color-white, $hovbg: $color-peach, $hovborder: $color-peach){
  text-decoration: none;
  font-family: $heading-font-family;
  background-color: $bg;
  box-shadow: none;
  color: $col;
  background-image: none;
  text-shadow: none;
  border: none;
  @include ef-button-size();
  &:hover{
    color: $hovcol;
  }
}

.example-button{
  @include ef-button();
}

