= render :partial=> "components/breadcrumb"
  -#.your-team-ring
  -#  .your-team-ring-header
  -#    %h1 Your Team Ring
  -#    %p
  -#      The Earthly Frames used to be called Your Team Ring, back when it was
  -#      %em only
  -#      a recording project. I was in lots of other bands and this was a way the dreaded solo project moniker I used to release music under. Your Team Ring started as a bunch of four-track tapes I would make for my friends. For the first time all of the (known) recordings have been put together and are available via
  -#      %a{:href=>'https://www.bandcamp.com'}bandcamp
  -#  .your-team-ring-albums
  -#    .your-team-ring-album
  -#      %iframe{:style=>'border: 0; width: 350px; height: 786px;', :src=>'https://bandcamp.com/EmbeddedPlayer/album=92677729/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
  -#        %a{:href=>'http://yourteamring.bandcamp.com/album/in-service-of-the-villain'} In Service of the Villain by Your Team Ring
  -#    .your-team-ring-album
  -#      %iframe{:style=>'border: 0; width: 350px; height: 786px;', :src=>'https://bandcamp.com/EmbeddedPlayer/album=2268904096/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
  -#        %a{:href=>'http://yourteamring.bandcamp.com/album/homelife'} Homelife by Your Team Ring
  -#    .your-team-ring-album
  -#      %iframe{:style=>'border: 0; width: 350px; height: 786px;', :src=>'https://bandcamp.com/EmbeddedPlayer/album=2411919293/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
  -#        %a{:href=>'http://yourteamring.bandcamp.com/album/emma'} The Film Score to the Future Symphonies by Your Team Ring
  -#    .your-team-ring-album
  -#      %iframe{:style=>'border: 0; width: 350px; height: 786px;', :src=>'https://bandcamp.com/EmbeddedPlayer/album=561377593/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
  -#        %a{:href=>'http://yourteamring.bandcamp.com/album/emma'} Emma by Your Team Ring
  -#    .your-team-ring-album
  -#      %iframe{:style=>'border: 0; width: 350px; height: 786px;', :src=>'https://bandcamp.com/EmbeddedPlayer/album=2760735276/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
  -#        %a{:href=>'http://yourteamring.bandcamp.com/album/aircrown'} AirCrown by Your Team Ring
  -#    .your-team-ring-album
  -#      %iframe{:style=>'border: 0; width: 350px; height: 786px;', :src=>'https://bandcamp.com/EmbeddedPlayer/album=1266093033/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/', :seamless=> true}
  -#        %a{:href=>'http://yourteamring.bandcamp.com/album/clipshirttaxrecovery'} Clipshirttaxrecovery by Your Team Ring