%main
  .well
    = render :partial => "components/page-heading", :locals => {  :declaration=>  @album.title,
                                                                  :qualifier=> "is available on these",
                                                                  :title=> pluralize_for_album(@album, "streaming_services") }
    .streaming-services
      = turbo_frame_tag "album_streaming_links" do
        - @album_streaming_links.each do |link|
          = turbo_frame_tag "album_streaming_link", :src=> album_album_streaming_link_url(@album, link.id)