%main{:id=>"mainContent"}
  .well
    = render :partial => "components/page-heading", :locals => {  :declaration=>  title_track(@song),
                                                                  :qualifier=> "is available on these",
                                                                  :title=> ""}
    .streaming-services
      = @streaming_links.each do |link|
        = turbo_frame_tag "streaming_link", :src=> album_song_streaming_link_url(@album, @song, link)
