%h1 Welcome
- if !user_signed_in?
  = link_to 'Register', new_user_registration_path, class:"welcome"
- else
  %a
    continue
    = current_user.email

    %ol
      %li If I don't currently have a character I can create one. Or I can send the log to a friend
      %li I can see all entries I've made in the current log. I can delete them - but I cannot restore health
      %li I create a new entry