%main{:id=>"mainContent"}
  .well
  = render :partial => "components/page-heading", :locals => {  :declaration=>  "The Earthly Frames",
                                                                :qualifier=> "have released music in the following",
                                                                :title=> "Formats"}
  = render :partial => "components/breadcrumbs"
  = turbo_frame_tag "music_formats" do
    - @music_formats.each do |music_format|
      = turbo_frame_tag "music_format", :src=> music_format_url(music_format)