@use "../utility/typography" as typography;
@use "../utility/palette" as palette;
@use "../utility/usual_mixins" as usual_mixins;

article.about{
  padding: 2rem;
  .about-portrait{
    width: 100%;
    margin: 2rem 0 2rem 0;
    @include usual_mixins.max-widths-for-breakpoints();
    @include usual_mixins.box-shadower();
  }
  h4.rhetorical-question{
    @include typography.body-font();
    font-weight: 800;
    font-size:1.5rem;
    margin: 1rem 0 1rem 0;
    line-height: 2rem;
  }
  p.rhetorical-answer{
    padding: 0.5rem;
  }
  .about-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    .about-image{
      margin: 1rem;
      img{
        width: 100%;
        @include usual_mixins.box-shadower();
      }
    }
    @include usual_mixins.breakpoint("md"){
      flex-direction: row;
    }
  }
  a{
    color: palette.$orange;
    transition: color 500ms ease-in-out;
    text-decoration: none;
    &:hover{
      color: palette.$indigo;
    }
  }
}