@import "../utility/usual_mixins";
@import "../utility/palette";
@import "../utility/typography";

.post{
  margin: 1rem 0 0 0;
  padding: 1rem;
  width: 100%;
  @include breakpoint("xs"){
    max-width: 19rem;
  }
  @include breakpoint("sm"){
    max-width: $breakpoint-max-sm/2;
  }
  @include breakpoint("md"){
    max-width: $breakpoint-max-md;
    padding: 0;
  }
  @include breakpoint("lg"){
    max-width: $breakpoint-max-lg;
  }
  @include breakpoint("xl"){
    max-width: unset;
  }
  h3.post-title{
    @include header-font();
    font-size: 1.3rem;
    color: $dark-grey;
    text-align: center;
    padding-left: 0;
    @include breakpoint("md"){
      font-size: 2.5rem;
      text-align: unset;
      padding-left: 1rem;
    }
  }
  h4.post-description{
    @include body-font();
    color: $dark-grey;
    font-size: 1rem;
    text-align: center;
    padding-left: 0;
    @include breakpoint("md"){
      font-size: 1.5rem;
      text-align: unset;
      padding-left: 1rem;
    }
    margin-bottom: 1rem;
  }
  .post-image{
    height: auto;
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    @include box-shadower();
    @include max-widths-for-breakpoints();
    @include breakpoint("md"){
      margin: 1rem;
    }
  }
  article.post-body{
    text-align: left !important;
    p{
      margin:0;
      code{
        line-height: normal !important;
        margin-bottom: 3rem;
        font-size: 1rem;
        background: $code-bg;
        word-wrap: break-word;
        box-decoration-break: clone;
        padding: .1rem .3rem .2rem;
        border-radius: .2rem;
      }
    }
    h1{
      @include header-font();
      font-size: 1.3rem;
      color: $dark-grey;
      text-align: center;
      padding-left: 0;
      @include breakpoint("md"){
        font-size: 2.5rem;
        text-align: unset;
        padding-left: 1rem;
      }
    }
    h2, h3{
      @include body-font();
      font-size: 1rem;
      font-weight: 400;
    }
    h2{
      text-transform: uppercase;
    }
    h3{
      font-style: italic;
    }
  }
  article > ul, article > ol{
    margin: 1rem 0 1rem 0;
    list-style: disc;
  }
}