@import "../utility/usual_mixins";
@import "../utility/palette";
@import "../utility/typography";

.post{
  margin: 1rem 0 0 0;
  padding: 1rem;
  @include breakpoint("md"){
    padding: 0;
  }
  h3.post-title{
    @include header-font();
    font-size: 1.5rem;
    color: $dark-grey;
    text-align: center;
    @include breakpoint("md"){
      font-size: 2.5rem;
      text-align: unset;
    }
  }
  h4.post-description{
    @include body-font();
    color: $dark-grey;
    font-size: 1rem;
    text-align: center;
    @include breakpoint("md"){
      font-size: 1.5rem;
      text-align: unset;
    }
    margin-bottom: 1rem;
  }
  .post-image{
    height: auto;
    min-height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    @include box-shadower();
    @include max-widths-for-breakpoints();
    @include breakpoint("md"){
      margin: 1rem;
    }
  }
  article.post-body{
    padding: 1rem;
  }
}