$min-show-card-width:  map-get-strict($breakpoints, "medium");

.shows-header{
  @include breakpoint(large){
    @include xy-cell-offset(2);
    @include xy-cell-size(10);
  }
  @include xy-cell;
}

.shows{
  @include xy-grid();
  .show{
    @include breakpoint(large){
      &:nth-child(3n+1){
        @include xy-cell-offset(2);
      }
      @include xy-cell-size(3);
    }
    @include xy-cell();
    .poster{
      @include card-container();
      img{
        @include breakpoint(large){
          width: initial;
        }
        width: $min-show-card-width;
        height: auto;
      }
      .info{
        @include card-section();
      }
    }
  }
}

.show-detail{
  @include breakpoint(large){
    @include xy-cell-offset(2);
    @include xy-cell-size(8);
  }
  @include xy-cell;
}