@use "../utility/usual_mixins";

.songs, #songs, turbo-frame#songs {
  margin-top: 1rem;

  .close-song-info {
    padding: 0.5rem 0 1rem 0;

    a {
      text-decoration: none;

      i {
        font-size: 1.25rem;
      }
    }
  }

  .song {
    font-size: 1rem;
    margin-bottom: 1.2rem;
    @include usual_mixins.breakpoint("sm") {
      font-size: 1.5rem;
    }
    @include usual_mixins.breakpoint("md") {
      font-size: 1.8rem;
    }

    i {
      &.fa-quote-right, &.fa-quote-left {
        opacity: 0.2;
      }
    }

    a {
      text-decoration: none;
    }

    .song-streaming-links {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: center;

      .streaming-link {
        margin: 0 0.25rem 0 0.25rem;
        width: 100%;

        .streaming-link-display {
          margin: 0.25rem 0 0.25rem 0;
          padding: 0.25rem;

          i {
            font-size: 1rem;
          }
        }

        .streaming-link-container {
          display: none;
        }
      }
    }
  }

  h4.notes-title, h4.lyrics-title {
    margin: 1rem 0 1rem 0;
  }

  .notes, .lyrics {
    display: flex;
    justify-content: center;
    padding: 1rem;

    .album-content-container {
      max-width: unset;
      width: 100%;
      @include usual_mixins.breakpoint("md") {
        max-width: 40rem;
      }
    }

    .album-content-container > p, p {
      line-height: 1.85rem;
      font-size: 1rem;
      justify-content: left;
      margin-bottom: 1rem;
    }

    dl {
      margin: 1rem 0 1rem 0;

      dt {
        font-weight: 800;
      }
    }
  }

  .song-embed-wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .song-embed {
      max-width: 33%;
    }
  }
}