%main{:id=>"mainContent"}
  .well
    = render :partial => "components/page-heading", :locals => {  :declaration=> "The Earthly Frames",
                                                                  :qualifier=> "are available on these",
                                                                   :title=> "Streaming Services"}
    = render :partial => "components/breadcrumbs"
    = turbo_frame_tag "streaming_services" do
      - @streaming_services.each do |service|
        = turbo_frame_tag "streaming_service", :src=> streaming_service_url(service)