= turbo_frame_tag "streaming_service" do
  .streaming-link
    .streaming-link-icon-container
      %i{:class=>get_service_icon(@streaming_service.name)}
    .streaming-link-container
      = @streaming_service.name