.row
  .small-2.large-2.columns
    = render :partial => 'components/admin/admin_nav'
  .small-8.large-8.columns
    %h1 Editing Album Format
    = render 'form'
  .row
    %ul{:class=>'button-group'}
      %li
        = link_to 'Show', @albumformat, :class=> 'button'
      %li
        = link_to 'Back', albumformats_path, :class => 'button'