= render :partial=> "components/breadcrumb"
.videos
  %h1
    Videos
  .video
    -if @videos.length >=1
      -@videos.each do |v|
        %h2
          =v.song.title
        .player-container
          %iframe{:src => v.video_embed_url, :data =>{:selector => 'video-embed'}, :width=> '640', :height=> '360', :frameborder =>'0', :webkitallowfullscreen=> true, :mozallowfullscreen=> true, :allowfullscreen=> true}
    -else
      %p{:class=>'error'} There are no published albums at this time.
