
-today = Date.today
-a = Album.where(is_live: true).last(3)
-a.each do |album|
  -@cardholder << CardItem.new(albums_path+"/"+album.id.to_s, album.cover, album.format, album.title, album.description, "Album", albums_path, "record-vinyl")
-p = Post.where(is_live: true).last(2)
-p.each do |post|
  -@cardholder << CardItem.new(posts_path+"/"+post.id.to_s, post.main_image, post.post_date, post.title, post.description, "Post", posts_path, "calendar-plus")


-#   -@cardholder << CardItem.new(post.title, post.description, post.main_image, post_path(post.id))
-# -s = Show.where(is_live: true).last(1)
-# -s.each do |show|
-#   -if show.showdate >= today
-#     -@cardholder << CardItem.new(show.title, show.brief_description, show.flyer, show_path(show.id))

-@cardholder = @cardholder.shuffle
-@cardholder = @cardholder.take(3)

.grid-x.grid-padding-x
  - @cardholder.each do |card|
    .cell.medium-4.large-4
      = render :partial => "components/hover-card", :locals=> {:link => card.link,
                                                            :img=> card.img,
                                                            :description => card.description,
                                                            :category=> card.category,
                                                            :title=> card.title,
                                                            :sub_title => card.sub_title,
                                                            :category_link=> card.category_link,
                                                            :category_icon_name=> card.category_icon_name}