%main{:id=>"mainContent"}
  = render :partial => "components/page-heading", :locals => {  :declaration=>  "The Earthly Frames",
                                                                :qualifier=> "present",
                                                                 :title=> "The Rainbow Table"}
  %p.description
    Nine full-length albums for each chromatic value, plus black and white.
  = render :partial => "components/rainbow_nav"
  - @rainbow_table_albums.each do |album|
    = render :partial => "components/rainbow_album", :locals => {:album=> album }
  - @rainbow_unfinished_colors.each do |u|
    = render :partial => "components/rainbow_unfinished", :locals => {:color=> u }