-today = Date.today
-a = Album.where(is_live: true).last(3)
-a.each do |album|
  -@cardholder << CardItem.new(album.title, album.brief_description, album.cover, album_path(album.id))
-p = Post.where(is_live: true).last(3)
-p.each do |post|
  -@cardholder << CardItem.new(post.title, post.description, post.main_image, post_path(post.id))
-s = Show.where(is_live: true).last(3)
-s.each do |show|
  -if show.showdate >= today
    -@cardholder << CardItem.new(show.title, show.brief_description, show.flyer, show_path(show.id))

-@cardholder = @cardholder.shuffle
-@cardholder = @cardholder.take(3)

.outer
  .image-gradient-dynamic
    %img{ :src=>asset_path('ef.jpg'), :alt=>'Earthly Frames'}
    .overlay
    .copy
      %p The Earthly Frames
  .cards
    -@cardholder.each do |card|
      .card
        %a{:href => card.link}
          .card-image
            %img{:alt => card.title, :src => card.img.to_s}
        .card-header
          %a{:href => card.link}
            = card.title
        .card-copy
          = card.description.to_s.truncate(80)