.direct-container
  = turbo_frame_tag "songs" do
    -@songs.each do |song|
      .song
        %i{:class=>"fa-solid fa-quote-left"}
        - if check_for_details(song)
          =link_to song.title, [@album, song]
        - else
          = song.title
        %i{:class=>"fa-solid fa-quote-right"}