%h1 Listing Data
%p
  Below are the different player character attributes you can use within Pulsar Palace.
%ul
  %li
    %a{:href => character_background_path}
      Backgrounds
  %li
    %a{:href => character_descriptors_path}
      Descriptions
  %li
    %a{:href => character_roles_path }
      Roles
  %li
    %a{:href => character_settings_path}
      Settings



