= render :partial => 'components/nav'
.albums
  -@albums.each do |a|
    .album
      =a.title
      =a.format
      =a.released
      %img{:src=>a.cover}
      %a{:href=> albums_path+'/'+a.id.to_s}
= render :partial => 'components/footer'