.albums
  %h1{:class=>'page-header'} Albums
  -@albumsByDate.each do |a|
    .album
      .cover
        %a{:href=> albums_path+'/'+a.id.to_s}
          %img{:src=>a.cover}
      .info.offset
        %h1
          %a{:href=> albums_path+'/'+a.id.to_s}
            =a.title
        %h2
          =a.format