%h1 Albums
%table
  %thead
    %tr
      %th
        Title
      %th{:colspan=>'3'}

  %tbody
    - @albums.each do |album|
      %tr
        %th
          =album.title
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }
= link_to 'New Album', new_album_path, :class=>'button'
