.albums
  -if @album.is_live
    .ef-breadcrumbs
      = render_breadcrumbs :tag => :span, :separator=> ""
    .album.detail{:itemscope => true, :itemtype => 'http://schema.org/MusicGroup'}
      .left
        %span{:class=>'screen-reader-only', :itemprop=>'byArtist'} The Earthly Frames
        %img{:src => @album.cover, :class=>'cover', :alt => @album.title, :itemprop =>'image'}
        - if @album.price.to_i > 0
          .buy
            %span{:class=>'price'}
              =number_to_currency(@album.price, :unit => '$')
            %a{:class=> "from-bandcamp", :href=> @album.buylink.to_s}
              %span{:class=> "on"}
                Buy on
              Bandcamp
        - if @album.streaming_links
          %div{:class => "album-streaming-links"}
            - @album.streaming_links.each do | album_streaming_link |
              %span{:class => "album-streaming-link"}
                %a{:href => album_streaming_link.link, :class=> "streaming-link" }
                  = "Listen on " + album_streaming_link.streaming_service.name.to_s
                  %i{:class=> ("fab fa-" + album_streaming_link.streaming_service.icon_url)}
      .right
        .title{:itemprop => 'name'}
          =@album.title
        .info{:itemprop => 'datePublished'}
          -if @album.released
            =@album.format+' | '+@album.released.strftime('%b %y')
          -else
            =@album.format
        .description{:itemprop => 'description'}
          =@album.description.html_safe
        -if @album.songs
          %hr
          %h2{:class=>'track-listing'}
            Track Listing:
          %ol{:class=>'song-list'}
            -min_length = 5
            -@album.songs.each do |s|
              -sid = s.id.to_s
              %li{:itemprop=>'track'}
                -if s.lyrics.length > min_length || s.notes.length > min_length || s.streaming_links
                  %a{:class=>'expander', :href=>'javascript:songExpand('+sid+')', :id=>'songid_'+sid}
                    = s.title+' '+s.trt
                  - if s.streaming_links
                    - s.streaming_links.each do |streaming_link|
                      %a{:href => streaming_link.link, :class=> "streaming-link icon-only" }
                        %i{:class=> ("fab fa-" + streaming_link.streaming_service.icon_url)}
                  .expander-content{:id=>'songcontent_'+sid}
                    -if s.video
                      %a{:href=> video_path(s.video.id), :class => 'video-link'}
                        ="Watch the video for " + s.title
                    -if s.lyrics.length > min_length
                      %h3 Lyrics
                      .lyrics{:itemprop=>'lyrics'}
                        =s.lyrics.html_safe
                    -if s.lyrics.length > min_length && s.notes.length > min_length
                      %hr
                    -if s.notes.length > min_length
                      %h3 Notes
                      .notes{:itemprop => 'about'}
                        =s.notes.html_safe
                -else
                  %span{:class=>'expander'}
                    =s.title+' | '+s.trt

  -else
    %p This album is being updated. Please check back shortly.
    %a{:href=>albums_path}
      Return to Albums listing.

