= render :partial=> "components/breadcrumb"
%span{:itemscope => true, :itemtype => 'http://schema.org/MusicGroup'}
  -if @album.is_live
    %span{:class=>'screen-reader-only', :itemprop=>'byArtist'} The Earthly Frames
    %h1{:itemprop=> 'name'}
      =@album.title
    -if @album.released
      %h4{:itemprop => 'datePublished'}
        =@album.format+' | '+@album.released.strftime('%b %y')
    -else
      %h4
        =@album.format
    %img{:src => @album.cover, :class=>'cover', :alt => @album.title, :itemprop =>'image'}
    - if @album.price.to_i > 0
      %a{:class=> "from-bandcamp", :href=> @album.buylink.to_s}
        Purchase on Bandcamp
      %span{:class=>'price'}
        = number_to_currency(@album.price, :unit => '$')
    - if @album.streaming_links
      - @album.streaming_links.each do | album_streaming_link |
        %span
          %a{:href => album_streaming_link.link, :class=> "streaming-link" }
            = "Listen on " + album_streaming_link.streaming_service.name.to_s
            %i{:class=> ("fab fa-" + album_streaming_link.streaming_service.icon_url)}
    %span{:itemprop => 'description'}
      =@album.description.html_safe

      -# -if @album.songs
      -#   %h2{:class=>'track-listing'}
      -#     Track Listing:
      -#     %ol{:class=>'song-list'}
      -#       -@album.songs.each do |s|
      -#         - song_id = s.id.to_s
      -#           %li
      -#             %span.song-select{:tab=>{:index=>0},:data=>{:toggle=>"songMenu_"+song_id}}
      -#               = s.title
      -#           = render :partial=> "components/song_display", :locals=>{:song=>s, :song_id=>song_id}
