$red: #AE0A33;
$orange: #EF7143;
$yellow: yellow;
$green: #abd96d;
$blue: #042a7b;
$indigo: #26294a;
$violet: #AD85D6 ;
$black: #000000 ;
$light-gray: #cbcbcb;
$grey: #4b4b4b;
$dark-grey: #383838;
$white: #f6f6f6;

$code-bg: #ffeff0;

$red_opposite: #FCFCFC;
$orange_opposite: $black;
$yellow_opposite: $dark-grey;
$green_opposite: $dark-grey;
$blue_opposite: $yellow;
$indigo_opposite: #F4A78A;
$violet_opposite: $black;
$black_opposite: $white;
$white_opposite: $black;

