@import "palette";
@import "usual_mixins";


$base-body-font-family: semplicitapro, sans-serif;
$base-header-font-family: anisette-std, sans-serif;

//300 400 500 700
@mixin body-font(){
  font-family: $base-body-font-family;
  font-weight: 400;
  font-style: normal;
  color: $black;
  font-size: 1rem;
  line-height: 1.5rem;
}
// 400 700
@mixin header-font(){
  font-family: $base-header-font-family;
  font-weight: 700;
  font-style: normal;
  color: $black;
  font-size: 3rem;
  line-height: 2.5rem;
}

.lazy-sub-headings{
  margin: 1rem 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 200;
}

.description{
  font-family: $base-body-font-family;
  color: $grey;
  padding: 1rem;
}

ol.bulleted{
  list-style: circle;
  &.level-one{
    margin-left: 1.5rem;
  }
  &.level-two{
    margin-left: 3rem;
  }
}