= render :partial => 'components/nav'
.posts
  .heading
  .body
    .left-nav
      = render :partial => 'components/postnav'
    .right-well
      -@posts.each do |p|
        .postpreview
          .img{:style =>'background: url('+p.main_image.to_s+')'}
          .title
            =p.title
          .snippet
            =p.body.html_safe
          .rule
            %hr
= render :partial => 'components/footer'