.posts
  %h1{:class=>'page-header'} Postings
  .body
    .left-nav
      = render :partial => 'components/postnav'
    .right-well
      -@posts.each do |p|
        .postpreview
          .img{:style =>'background: url('+p.main_image.to_s+')'}
          .title
            %a{:href=> posts_path+'/'+p.id.to_s}
              =p.title
          .snippet
            =p.body.html_safe
          .rule
            %hr