= render :partial => 'components/nav'
.posts
  .heading
  .body
    .left-nav
      = render :partial => 'components/postnav'
    .right-well
      .post
        #js-parallax-window.parallax-window
          .parallax-static-content
            =@post.title
          #js-parallax-background.parallax-background{:style =>'background: url('+ @post.main_image.to_s+') repeat;'}
        .body
          =@post.body.html_safe
        %img{:src => @post.inline_image}
= render :partial => 'components/footer'