.posts.individual
  -if @post.is_live
    .heading
      .back-button
        %a{:href=>posts_path}
          %button
            %i
            %span
              Back
    .body
      .left-nav
        = render :partial => 'components/postnav'
      .right-well
        .post
          #js-parallax-window.parallax-window
            .parallax-static-content
              -if @post.overlay_bright
                %h1{:class=>'bright-title'}
                  =@post.title
              -else
                %h1{:class=>'overlaytitle'}
                  =@post.title
            #js-parallax-background.parallax-background{:style =>'background: url('+ @post.main_image.to_s+') repeat;'}
          .postbody
            -if @post.inline_image
              %img{:src => @post.inline_image, :class=>'initimg'}
            =@post.body.html_safe
        .more-prev
          = link_to('Previous Post', @post.prev_post) if @post.prev_post
          -if @post.next_post && !@post.prev_post
            %span{:class => 'lone'}
              = link_to('Next Post', @post.next_post)
          -else
            = link_to('Next Post', @post.next_post) if @post.next_post
  -else
    %p This post is not available.
    %a{:href=>posts_path} Return to Posts listing.
