.album-card {
  @include card-container($color-white, $color-storm, 0.5rem, 3rem, 0.25rem, $card-shadow);
  height: 100%;
  img{
    @include breakpoint(large){
      max-width: 300px;
      max-height: 300px;
      height: auto;
      width: auto;
    }
    width: 640px;
    height: 640px;

  }
  .additional-info {
    @include card-divider();
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    .format{
      text-transform: uppercase;

    }
    .streaming-links{
    }
  }
  .album-description{
    @include card-section();
  }
}