@import "../utility/usual_mixins";
@import "../utility/palette";

.breadcrumbs{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 1rem;
  li{
    margin: 0 0.5rem 0 0.5rem;
    a{
      color: $indigo;
      text-decoration: none;
      transition: color 500ms ease-in-out;
      &:hover{
        color: $orange;
      }
    }
  }
}