.you {
  @include xy-grid();
  .are{
    @include breakpoint(large){
      margin-top: 2rem;
      @include xy-cell-offset(2);
    }
      @include xy-cell;
    .here{
      @include breakpoint(medium){
        margin-left: 0;
      }
      margin-left: 0.5rem;
    }
  }
}
