@use "../utility/palette" as palette;
@use "../utility/usual_mixins" as usual_mixins;

footer{
  flex-shrink: 0;
  background-color: palette.$black;
  width: 100vw;
  .footer-wrapper{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 1.5rem;
    @include usual_mixins.breakpoint("md") {
      margin: 1rem;
      flex-direction: row;
      justify-content: flex-end;
    }
    .footer-items{
      .footer-item{
        a{
          text-decoration: none;
          color: palette.$white;
        }
      }
    }
    .footer-logo{
      margin-top: 2rem;
      img{
        height: 3rem;
        width: auto;
      }
      @include usual_mixins.breakpoint("md") {
        margin-top: unset;
        img{
          height: 6rem;
          width: auto;
        }
      }
    }
  }
}