footer{
  height: ($sticky-shrinknav-hero-height*2);
  background: $color-storm;
  margin-top: 5rem;
  .social-footer {
    margin-top: 0;
    .social-footer-left{
      .ef-logo{
        fill: $color-white;
        height: 3rem;
        color: $color-white;
      }
    }
    padding: 1rem;
    background: $color-storm;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .social-footer-icons {
      li{
        font-size: 1rem;
        a{
          color: $color-white;
          &:hover {
            color: $color-peach;
          }
        }
      }
      li:last-of-type {
        margin-right: 0;
      }
    }
  }
  .eula{
    margin: 0;
    padding:0;
    a{
      padding: 1rem;
      color: $color-white;
      &:hover{
        color: $color-peach;
      }
    }
  }
}


