.card-article-hover {
  box-shadow: 0 0 7px $color-storm;

  .card-section {
    width: 90%;
    background: $color-white;
    margin: 0 auto;
    padding-top: 25px;
    margin-top: -3rem;

    .article-subtext {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.85rem;
    }

    .article-title {
      font-weight: bold;
      font-size: 1.5rem;
      color: $black;
    }

    .article-desc {
      font-size: 1rem;
    }
  }

  .card-divider {
    background: $color-white;

    .author {
      text-transform: uppercase;
      letter-spacing: 2px;
      color: $color-taupe;
    }
  }

  .hover-border {
    height: 10px;
    background: $color-taupe;
    width: 0;
    transition: width 1s ease;
  }

  &:hover .hover-border {
    height: 10px;
    width: 450px;
    transition: width 1s ease;
  }

  .author {
    color: navy;
  }

  .avatar {
    border-radius: 50%;
    margin: 0 1rem;
  }

  .meta-data {
    text-transform: uppercase;
  }
}

