.rainbow-title{
  @include breakpoint(large) {
    @include xy-cell-offset(2);
  }
}

.rainbow-cards {
  .rainbow-card {
    .inner{
      @include xy-grid;
      @include breakpoint(large) {
        @include xy-cell-offset(2);
      }
      .cover{
        @include breakpoint(large){
          @include xy-cell(3);
          img{
            max-height: 300px;
            max-width: 300px;
            width:auto;
            height: auto;
            display: block;
          }
        }
        image{
          height: 100%;
          width:  100%;
        }
      }
      .title{
        @include breakpoint(large) {
          text-align: right;
        }
        @include xy-cell(5);
      }
    }
    padding: 2.5rem 0 2.5rem 0;
    &.black {
      color: $rainbow-table-white;
      background-color: $rainbow-table-black;
      a{
        color: $rainbow-table-white;
        &:hover{
          color: $rainbow-table-red;
        }
      }
    }

    &.red {
      color: $rainbow-table-white;
      background-color: $rainbow-table-red;
      a{
        color: $rainbow-table-white;
        &:hover{
          color: $rainbow-table-orange;
        }
      }
    }

    &.orange {
      background-color: $rainbow-table-orange;
      a{
        color: $rainbow-table-black;
        &:hover{
          color: $rainbow-table-yellow;
        }
      }
    }

    &.yellow {
      background-color: $rainbow-table-yellow;
      a{
        color: $rainbow-table-black;;
        &:hover{
          color: $rainbow-table-green;
        }
      }
    }

    &.green {
      color: $rainbow-table-white;
      background-color: $rainbow-table-green;
      a{
        color: $rainbow-table-white;
        &:hover{
          color: $rainbow-table-blue;
        }
      }
    }

    &.blue {
      color: $rainbow-table-white;
      background-color: $rainbow-table-blue;
      a{
        color: $rainbow-table-white;
        &:hover{
          color: $rainbow-table-indigo;
        }
      }
    }

    &.indigo {
      color: $rainbow-table-white;
      background-color: $rainbow-table-indigo;
      a{
        color: $rainbow-table-white;
        &:hover{
          color: $rainbow-table-violet;
        }
      }

    }

    &.violet {
      background-color: $rainbow-table-violet;
      a{
        color: $rainbow-table-black;;
        &:hover{
          color: $rainbow-table-white;
        }
      }
    }

    &.white {
      background-color: $rainbow-table-white;
      a{
        color: $rainbow-table-black;;
        &:hover{
          color: $rainbow-table-white;
        }
      }
    }
  }
}