@import "../utility/palette";
@import "../utility/usual_mixins";
@import "../utility/typography";

.rainbow-album, .rainbow-album-unfinished{
  width: 100vw;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rainbow-album-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h3{
    width: 100%;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    @include breakpoint("md"){
      font-size: 3rem;
    }
    &.unknown{
      margin: 5rem;
      padding: 5rem;
      font-size: 5rem;
    }
    &.year{
      font-size: 1.5rem;
      margin: 0.5rem 0 0 0;
      @include breakpoint("md"){
        margin: 1rem 0 1rem 0;
        font-size: 2.5rem;
      }
    }
  }
  h4{
    &.title{
      width: 100%;
      font-size: 1.75rem;
      font-style: italic;
      margin: 0;
      @include breakpoint("md"){
        font-size: 3.5rem;
        margin: 0.5rem 0 0 0;
      }
    }
  }
  min-width: 100vw;
  p{
    &.description{
      padding: 0.5rem;
      width: 100%;
    }
  }
  @include breakpoint("md"){
    min-width: unset;
    max-width: 40rem;
  }
  .song-list{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  padding-bottom: 2rem;
  svg{
    height: 5rem;
  }
  .rainbow-table-streaming-links{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    width: 100%;
    justify-content: center;
    @include breakpoint("md"){
      margin-top: 1rem;
      .streaming-link {
        margin: 0 0.5rem 0 0.5rem;
        .streaming-link-icon-container{
          margin: 0.25rem 0 0.25rem 0;
          padding: 0.25rem;
          i{
            font-size: 1rem;
          }
        }
      }
    }
    .streaming-link {
      margin: 0;
      width: 100%;
      .streaming-link-icon-container{
        margin: 0;
        padding: 0.15rem;
        i{
          font-size: 1.5rem;
        }
      }
      .streaming-link-container{
        display: none;
      }
    }
  }
}

@mixin rainbow_table_helper($background_color, $foreground_color){
  background-color: $background_color;
  color:$foreground_color;
  h3, h4, a{
    color: $foreground_color;
  }
  svg{
    fill: $foreground_color;
  }
  .rainbow-table-streaming-links {
    .streaming-link {
      .streaming-link-icon-container {
        i {
          color: $foreground_color;
        }
      }
    }
  }
}

.rainbow-table-black{
  @include rainbow_table_helper($black, $black_opposite);
}

.rainbow-table-red{
  @include rainbow_table_helper($red, $red_opposite);
}

.rainbow-table-orange{
  @include rainbow_table_helper($orange, $orange_opposite);
}

.rainbow-table-yellow{
  @include rainbow_table_helper($yellow, $yellow_opposite);
}

.rainbow-table-green{
  @include rainbow_table_helper($green, $green_opposite);
}

.rainbow-table-blue{
  @include rainbow_table_helper($blue, $black_opposite);
}

.rainbow-table-indigo{
  @include rainbow_table_helper($indigo, $indigo_opposite);
}

.rainbow-table-violet{
  @include rainbow_table_helper($violet, $violet_opposite);
}

.rainbow-table-white{
  @include rainbow_table_helper($white, $white_opposite);
}