@use "../utility/palette" as palette;
@use "../utility/usual_mixins" as usual_mixins;
@use "../utility/typography" as typography;

@mixin rainbow-link(){
  text-decoration: none;
  transition: background-color 500ms ease-in-out;
}

.rainbow-nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 1rem;
  .rainbow-nav-item {
    a{
      color: palette.$black;
      text-decoration: none;
      font-size: .75rem;
      &:hover{
        color:palette.$orange;
      }
    }
  }
}