.song-with-music-video {
  .song-with-music-video-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    .title{
        font-size: 0.875rem;
      a{
        font-size: 1.5em;
        font-weight: bold;
        color: #333;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}