.basic
  .basic-inner
    %h1{:class=>'page-header'} About
    %article
      %p
        Gabriel Walsh plays experimental rock music as The Earthly Frames. Walsh's earlier recording project was called
        %a{}Your Team Ring
        and he released music under this moniker from 1995-2005. You can find the music of Your Team Ring
        %a{}here.
      %p
        With the Earthly Frames, the high-concept, psychedelia has carried over from Your Team Ring but the lo-fi, whimsical folk have given way to synths and loops. This new sound allows for The Earthly Frames to play live and constantly rework songs.
      %p
        Walsh, the constant dabbler, has incorporated multimedia into Earthly Frames releases.
        %a{}Volume 1
        , was first released on USB drive with a unique digital narrative artifact on every copy.
        %a{}Hoarding Eleven
        went so far as to accompany the release with a short film, book by Walsh's father and card game.
      %p
        The Earthly Frames reside at Walsh's basement custom studio in Maryland.
