.basic
  .basic-inner
    %h1{:class=>'page-header'} About
    %article
      %p Gabriel Walsh is The Earthly Frames. Walsh previously recorded as the lo-fi, multi-tracker Your Team Ring from 1992-2005. Vowing Your Team Ring would never play live, The Earthly Frames allowed Walsh to occasionally leave the studio and incorperate some of his other creative efforts such as fiction, games and film.
      %p Although The Earthly Frames is a one-man-band, Gabriel is always on the lookout for new collaborators.