// Shows
//
// Styleguide: ef.layouts.albums

.albums {
  @include outer-container;
  margin-top: 2rem;
  .album {
    .cover {
      text-align: center;
      img {
        width: 250px;
        height: 250px;
      }
      margin: 0 auto 0 auto;
      vertical-align: top;
    }
    .info {
      text-align: center;
      &.offset {
        margin-top: 1rem;
      }
      h1 {
        font-weight: 100;
        font-size: 3rem;
        margin-bottom: 0.5rem;
        a {
          color: $color-bare;
          text-decoration: none;
          &:hover {
            color: $color-peach;
            text-decoration: none;
          }
        }
      }
      p{
        margin: -0.5rem auto 1.5em auto;
        max-width: 250px;
        font-size: 1rem;
        color: $color-grey;
        font-weight: 100;
        padding: 0.25rem;
      }
      font-weight: 100;
    }
    &.detail {
      .left {
        @include span-columns(4);
        .cover {
          width: 100%;
        }
      }
      .right {
        @include span-columns(8);
        .title {
          margin: 0 0 0 1rem;
          font-weight: 400;
          font-size: 3rem;
          color: $color-taupe;
        }
        .info {
          text-align: left;
          text-transform: uppercase;
          margin-left: 1rem;
          font-size: 1.25rem;
          color: $color-grey;
          font-weight: 100;
        }
        .description {
          margin: 0.5rem 0 2rem 1rem;
          font-size: 1rem;
          font-weight: 100;
          color: $color-storm;
        }
        hr{
          margin: 0.5rem 0 2rem 1rem;
        }
        .track-listing{
          margin: 0.5rem 0 2rem 1rem;
          color: $color-storm;
          font-size: 1.55rem;
          font-weight: 100;
        }
        .song-list{
          font-size: 1.25rem;
          font-weight: 200;
          color: $color-peach;
          li{
            counter-increment:item;
            list-style-type:none;
            &:before{
              font-weight: 100;
              color: $color-storm;
              content:counter(item) ".";
            }
            a {
              cursor: pointer;
              color: $color-taupe;
              text-decoration: none;
            }
            span{
              color: $color-taupe;
            }
            .expander-content{
              h3{
                text-transform: uppercase;
                font-weight: 100;
                font-size: 0.875rem;
                color: $color-taupe;
                &:first-child{
                  margin-top: 1rem;
                }
              }
              .video-link {
                color: $color-peach;
                font-weight: 200;
                font-size: 0.875rem;
                &:hover{
                  color: $color-storm;
                }
              }
              p{
                display: block !important;
                color: $color-storm;
                font-weight: 200;
                font-size: 0.875rem;
              }
              display: none;
              &.expanded{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}