// Shows
//
// ef.layouts.albums

.albums{
  @include outer-container;
  .album{
    .cover{
      text-align: center;
      img{
        width: 250px;
        height: 250px;
      }
      margin: 0 auto 0 auto;
      vertical-align: top;
    }
    .info{
     text-align: center;
      h1{
        font-weight: 100;
        font-size: 3rem;
        margin-bottom: 0.5rem;
        a{
          color: $color-bare;
          text-decoration: none;
          &:hover{
            color: $color-peach;
            text-decoration: none;
          }
        }
      }
      font-weight: 100;
    }
    &.detail{
      .left{
        @include span-columns(4);
        .cover{
          width: 100%;
        }
        .buy{
          margin-top: 0.5rem;
          .price{
            font-weight: 400;
            font-size: 1.25rem;
            color: $color-peach;
          }
          .button{
            font-size: 1rem;
            float: right;
          }
        }
      }
      .right{
        @include span-columns(8);
        .title{
          margin: 0 0 0 1rem;
          font-weight: 400;
          font-size: 3rem;
          color: $color-taupe;
        }

        .info{
          text-align: left;
          text-transform: uppercase;
          margin-left: 1rem;
          font-size: 1.25rem;
          color: $color-grey;
          font-weight: 100;
        }
        .description{
          margin: 0.5rem 0 2rem 1rem;
          font-size: 1rem;
          font-weight:100;
          color: $color-storm;
        }
      }
    }
  }
}