// Initial Values
$base-font-family: "expo-sans-pro", sans-serif;
$heading-font-family: "poiret-one", sans-serif;
$sticky-shrinknav-menu-height: rem-calc(60);
$sticky-shrinknav-hero-height: 300px;

// Third Party Libraries
@import url("https://use.typekit.net/amw6xzf.css");
@import "active_admin";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "foundation_and_overrides";

// Utilities
@import "utilities/rem";
@import "utilities/maps";

// Core
@import "core/accessibility";
@import "core/lighting";
@import "core/layout";
@import "core/palette";

// Components
@import "components/album_card";
@import "components/breadcrumbs";
@import "components/footer";
@import "components/nav";
@import "components/hover_card";
@import "components/modals";
@import "components/song_display";

// Layouts
@import "layouts/about";
@import "layouts/albums";
@import "layouts/eula";
@import "layouts/home";
@import "layouts/posts";
@import "layouts/shows";
@import "layouts/videos";
@import "layouts/ytr_archive";

