// The Earthly Frames
//
// Styleguide: ef.layouts.home

.outer{
  @include outer-container();
}
.image-gradient-dynamic {
  $image-gradient-color-top: $color-peach;
  $transparency-top: 0.95;
  $image-gradient-color-bottom: $color-storm;
  $transparency-bottom: 0.85;
  $vertical-angle: 0deg;
  $image-gradient-color-left: $color-bare;
  $transparency-left: 0.90;
  $image-gradient-color-right: $color-taupe;
  $transparency-right: 0.85;
  $horizontal-angle: 90deg;
  line-height: 0;
  position: relative;
  width: 100%;
  img {
    height: auto;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
  .copy {
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 56%;
    transform: translate(-50%, -50%);
    z-index: 999;
    @include media($medium-screen) {
      font-size: 3.75em;
    }
    font-size: 2rem;
    p {
      font-family: $heading-font-family;
      color: $color-white;
      line-height: 2.5rem;
      padding: 2.5em 0;
      position: relative;
    }
  }

  .overlay {
    @include position(absolute, 0);
    background-color: transparentize($image-gradient-color-top, $transparency-top);
    background-image: linear-gradient($vertical-angle,
    transparentize($image-gradient-color-top, $transparency-top),
    transparentize($image-gradient-color-bottom, $transparency-bottom)
    );
    display: block;

    &::after {
      @include position(absolute, 0);
      background-color: transparentize($image-gradient-color-left, $transparency-right);
      background-image: linear-gradient($horizontal-angle,
              transparentize($image-gradient-color-left, $transparency-left),
              transparentize($image-gradient-color-right, $transparency-right)
      );
      content: "";
      display: block;
    }
  }
}

.cards {
  margin: 2rem 0 2rem 0;
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.card {
  $base-border-color: $color-storm !default;
  $base-border-radius: 3px !default;
  $base-background-color: $color-white !default;
  $base-spacing: 1.5em !default;
  $action-color: $color-peach !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $color-storm;
  $card-header-color: $color-white;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: $color-peach;

  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  //lost gradient effect - but sizing was an issue.
  .card-image {
    overflow: hidden;
    height: 150px;
    max-height: 150px;
    @include transition (all 0.2s ease-in-out);
    opacity: 1;
    background-color: $card-image-hover-color;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    color: $card-header-color;
    border-bottom: $card-border;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    a{
      text-decoration: none;
      color:$card-header-color;
      &:hover{
        text-decoration: none;
        color: $card-image-hover-color;
      }
    }
  }
  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }
  &:focus,
  &:hover {
    cursor: pointer;
    img {
      opacity: $card-image-hover-opacity;
    }
  }
  &:active {
    background-color: $card-background;
    .card-header {
      background-color: $card-background;
    }
  }
}
