// Postings
//
// ef.layouts.postings
.posts {
  @include outer-container;
  @include media($medium-screen-down){
    margin-top: 2rem;

  }
  .heading{
    visibility: hidden;
    .back-button{
      @include back-button();
      margin-left: 1rem;
    }
    @include media($medium-screen-down){
      visibility: visible;
    }
  }
  .body {
    .left-nav {
      vertical-align: top;
      @include span-columns(2);
      ul{
        list-style: none;
        li{
          font-size: modular-scale(1);
          a{
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
      @include media($medium-screen-down){
        display:none;
        width:0;
      }
    }
    .right-well {
      @include span-columns(10);
      @include media($medium-screen-down){
        width: 100%;
      }
      .postbody{
        font-size: modular-scale(1);
        font-weight: 100;
        margin-top: 2rem;
        @include media($medium-screen-down){
          padding: 0 2rem 0 2rem;
        }
        .initimg{
          display:none;
        }
        .postimg{
          float: right;
          margin: 0 1rem 0 1rem;
          @include media($medium-screen-down){
            margin: 1rem 0 1rem 0;
            float: none;
          }
        }
        .postimg.tall{
          max-height: 400px;
        }
        .postimg.wide{
          max-width: 400px;
        }
      }
      .postpreview{
        .img{
          width: 100%;
          margin-bottom: 1rem;
          background-size: cover;
          height: 200px;
          background-repeat: no-repeat;
        }
        .title{
          font-weight: 500;
          color: $color-peach;
          font-size: 2rem;
        }
        .snippet{
          font-weight: 100;
        }
        .rule{
          margin: 1rem 0 2rem 0;
          color: $color-grey;
        }
      }
    }
  }
  .overlaytitle{
    color: $color-storm;
  }
}