// Postings
//
// Styleguide: ef.layouts.postings

.posts {
  @include outer-container;
  &.individual{
    margin-top: -1.5rem;
    @include media($medium-screen-down){
      margin-top: -2.5rem;
    }
  }
  .heading{
    visibility: hidden;
    .back-button{
      @include back-button();
      margin-left: 1rem;
    }
    @include media($medium-screen-down){
      visibility: visible;
    }
  }
  .body {
    .left-nav {
      vertical-align: top;
      @include span-columns(2);
      ul{
        list-style: none;
        li{
          font-size: modular-scale(1);
          a{
            font-weight: 600;
            text-decoration: none;
            &:hover{
              color: $color-peach;
            }
          }
        }
      }
      @include media($medium-screen-down){
        display:none;
        width:0;
      }
    }
    .right-well {
      @include span-columns(10);
      @include media($medium-screen-down){
        width: 100%;
      }
      .postbody{
        font-size: modular-scale(1);
        font-weight: 100;
        margin-top: 2rem;
        @include media($medium-screen-down){
          padding: 0 2rem 0 2rem;
        }
        .initimg{
          display:none;
        }
        .postimg{
          float: right;
          margin: 0 0 1rem 0.2rem;
          @include media($medium-screen-down){
            float: none;
          }
          width: 98%;
          padding: 1rem;
          max-width: 450px;
        }
        .postimg.tall{
          max-height: 400px;
        }
        .postimg.wide{
          max-width: 400px;
        }
      }
      .postpreview{
        .img{
          width: 98%;
          margin: 0 0 1rem 0.2rem;
          background-size: cover;
          height: 200px;
          background-repeat: no-repeat;
        }
        .title{
          a{
            font-weight: 500;
            color: $color-storm;
            font-size: 2rem;
            text-decoration: none;
            &:hover{
              text-decoration: none;
              color: $color-peach;
            }
          }
        }
        .snippet{
          font-weight: 100;
        }
        .rule{
          margin: 1rem 0 2rem 0;
          color: $color-grey;
        }
      }
      .more-prev{
        margin: 2rem 0 1rem 0;
        a{
          font-size: 0.75rem;
          color: $color-storm;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 600;
          &:hover{
            color: $color-peach;
          }
        }
        a:nth-child(1){
          float: left;
        }
        a:nth-child(2){
          float: right;
        }
        .lone{
          float: right;
          a, a:nth-child(1){
            float: none;
          }
        }
      }
    }
  }
  .overlaytitle{
    color: $color-storm;
  }
  .bright-title{
    color: #fff;
    text-shadow: 0 5px 10px transparentize($color-storm, 0.35);
  }
}