// Shows
//
// Styleguide: ef.layouts.shows

.shows{
  @include outer-container;
  hr{
    margin-bottom: 4rem;
    border-color: transparentize($color-storm,0.8);
    &:last-of-type{
      display: none;
    }
  }
  .show{
    @include display(flex);
    @include justify-content(space-between);
    .flyer{
      vertical-align: top;
      @include media($medium-screen-down) {
        display:none;
      }
      img{
        max-width: 200px;
        margin: 0 auto 0 auto;
        vertical-align: top;
      }
    }
    .info{
      margin-left:2rem;
      width: 100%;
      @include media($medium-screen-down) {
        margin-left:0;
        padding: 0 1rem 0 1rem;
        text-align: center;
      }
      .description{
        font-size: 1rem;
        font-weight: 100;
        color: $color-grey;
      }
      h2{
        a {
          font-size: 2.25rem;
          color: $color-storm;
          text-decoration: none;
          font-weight: 600;
          &:hover{
            color: $color-peach;
          }
        }
      }
      a{
        font-size: 1rem;
        font-weight: 100;
        color: $color-peach;
      }
    }
  }
}
.performance-outer{
  margin-top: 1rem;
  @include outer-container;
  .performance-inner{
    @include display(flex);
    @include justify-content(space-between);
    .left-flyer{
      @include media($medium-screen-down) {
        display:none;
      }
      img{
        min-width: 350px;
      }
    }
    .right-info{
      margin-left:2rem;
      @include media($medium-screen-down) {
        margin-left:0;
        padding: 0 1rem 0 1rem;
      }
      h2{
        color: $color-peach;
        font-size: 1.5rem;
        margin-bottom: 0.25rem;
      }
      .info-hold{
        .info-pair{
          .label{
            font-family: $base-font-family;
            font-size: 1.25rem;
            display: block;
            margin: 1rem 0 0.5rem 0;
          }
          .detail{
            font-size: 1rem;
            font-family: $heading-font-family;
            &.date{
              white-space: nowrap;
            }
          }
        }
        .more-info{
          button{
            @include ef-button();
            @include ef-button-size('sm');
            i{
              @include fa-icon();
              &:before{
                content: $fa-var-arrow-alt-circle-right;
              }
            }
          }
        }
      }
    }
  }
}