// Shows
//
// ef.layouts.soon

.outer{
  @include outer-container;
  .inner{
    text-align: center;
    h1.soon{
      margin-top: 35% !important;
      font-size: modular-scale(5);
      font-weight: 300;
      color: $color-storm;
    }
  }
}