// Shows
//
// ef.layouts.soon

.soon{
  .soon-inner{
    text-align: center;
    .soon-msg{
      margin-top: 15% !important;
      font-size: 3rem;
      font-weight: 300;
      color: $color-storm;
    }
  }
}