= render :partial => 'components/nav'
.shows
  -@shows.each do |s|
    .show
      =s.title
      =s.description
      =s.showdate.to_s
      =s.link
      %img{:src=>s.flyer}

= render :partial => 'components/footer'